@page "/index"
@attribute [Authorize]
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider _authStateProvider;
@inject IUserService UserService
@using BPR_Blazor.Data

<PageTitle>Index</PageTitle>
<div class="index">
<h1>Hello, world! </h1>

Welcome to your new app.
<AuthorizeView>
    <h3>Hi @context.User.Identity.Name</h3>
    <h4>Go to see your new profile <a href="/profile/@context.User.Identity.Name">Click me</a> </h4>
</AuthorizeView>
</div>
@code{
   public string username = "";
    
    
    protected async override void OnInitialized()
    {
        var authState  = await _authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        username = user.Identity.Name.ToString();
       
    }
   
}
