@page "/index"
@attribute [Authorize]

<PageTitle>Index</PageTitle>
<div class="index">
<AuthorizeView>
    <h3>Hi @context.User.Identity.Name</h3>
    <h4>Go to see your new profile <a href="/profile/@context.User.Identity.Name">Click me</a> </h4>
    <h4>Go to see your chats <a href="/chat/28">Click me</a> </h4>
    <h3>@getNoteDTO.Title</h3>
    <h4>@getNoteDTO.Content</h4>
    <MudButton OnClick="loadNotes">Load notes</MudButton>

</AuthorizeView>
   
</div>

@code{
   public string username = "";
    private MudCarousel<NoteDTO> _carousel;
    public PostDTO newPost = new PostDTO();
    public List<NoteDTO> notes = new List<NoteDTO>();
    public NoteDTO noteDTO = new NoteDTO();
    public NoteDTO getNoteDTO = new NoteDTO();
    public PostDTO editPost = new PostDTO();
    
    protected async override void OnInitialized()
    {
        var authState  = await _authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        username = user.Identity.Name.ToString();
        loadNotes();
    }
    
    private async void OnValidSubmit(){
       await NoteService.CreateNote(username, noteDTO.Title, noteDTO.Content);
    }
    private async void loadNotes(){
         notes = await NoteService.GetNoteList(username);
    }
   
}

