@page "/"
<section class="login-form-1 login">
        <h1>Codeware</h1>
        <div class="container">
            <!-- /form -->
            <div class="login-form-grid">
                <div class="login-main">
                    <div class="login-content">
                        <h2>Log In</h2>
                        <EditForm Model="@_userWithPassword" OnValidSubmit="OnValidSubmit">
                            <DataAnnotationsValidator />
                            <div class="txt_field">
                                <InputText @bind-Value="_userWithPassword.Username" type="text" class="text" name="text" required="" autofocus />
                                <span></span>
                                <label>Username</label>
                            </div>
                            <div class="txt_field">
                            <InputText @bind-Value="_userWithPassword.Password" type="password" class="password" name="password" required="" autofocus/>
                                 <span></span>
                                <label>Password</label>
                                </div>
                            <button class="btn" type="submit">Log In</button>
                        </EditForm>
                        
                        <p class="account">Don't have an account? <a href="register">Register</a></p>
                    </div>
                    <div class="login_form align-self">
                        <div class="left_grid_info">
                            <img src="images/1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
    </section>
@code {
    UserDTO _userWithPassword = new UserDTO();

    private async void OnValidSubmit()
    {
        try
        {
            var result =  await UserService.Login(_userWithPassword.Username, _userWithPassword.Password);
            if (true)//!result.Equals(""))
            {
                await LocalStorage.SetItemAsync("token", result);
                await _authStateProvider.GetAuthenticationStateAsync();
                StateHasChanged();
                navManager.NavigateTo("index");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}