@page "/SignUp"
@using BPR_Blazor.Models
<section class="login-form-1 signup">
    <div class="container">
            <!-- /form -->
            <div class="login-form-grid">
                <div class="login-main">
                    <div class="login-content">
                        <h2>Create your User Profile</h2>
                        <EditForm Model="@_userDetails" OnValidSubmit="SubmitProfile">
                            <DataAnnotationsValidator/>
                            <div class="txt_field">
                                <InputText @bind-Value="@_userDetails.FirstName" id="input" type="text" class="input" name="text" required="" autofocus/>
                                <span></span>
                                <label>Username</label>
                            </div>
                            <div class="txt_field">
                                <InputText @bind-Value="@_userDetails.Email" id="input" type="text" class="input" name="text" required="" autofocus/>
                                <span></span>
                                <label>Email</label>
                            </div>
                            
                            <!--<InputDate @bind-Value="@_userDetails.Birthday" class="input" TValue="DateTime"/>-->
                            
                               
                            <button class="btn" type="submit">Log In</button>
                        </EditForm>
                        <p class="account">Don't have an account? <a href="register">Register</a></p>
                    </div>
                    <div class="login_form align-self">
                        <div class="left_grid_info">
                            <img src="images/signup.webp" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
    </section>
@code {
    private UserDTO _userDetails = new UserDTO();

    private void SubmitProfile()
    {
        Console.Write(_userDetails.Birthday);
    }
}