@page "/UserProfile/{id}"
@inject NavigationManager navManager
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
<div>
<div class="profilePic">
  <img class="profile" src="images/Picture.png" alt="profilepic">
    <h1>Javier Candeira</h1>
    <p>I'm a software engineer from the 7th Semester bla bla bla</p>
    <div>
      <p>Aarhus</p>
    </div>
    </div>
    <div class="skills">
      <div class="skill">
        <p>Chef</p>
      </div>
      <div class="skill">
        <p>Gamer</p>
      </div>
      <div class="skill">
        <p>Cat lover</p>
    </div>
  </div>
</div>
@code{

  int id= 0;

 
}