@page "/UserProfile/{username}"
@inject NavigationManager navManager
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject IUserService UserService
@inject NavigationManager MyNavigationManager
@using BPR_Blazor.Data
<div>
<div class="profilePic">
  <img class="profile" src="images/Picture.png" alt="profilepic">
    <h1>@user.FirstName @user.LastName</h1>
    <p>@user.Bio</p>
    <div>
      <p>@user.Country</p>
    </div>
    </div>
    <div class="skills">
      <div class="skill">
        <p>Chef</p>
      </div>
      <div class="skill">
        <p>Gamer</p>
      </div>
      <div class="skill">
        <p>Cat lover</p>
    </div>
  </div>
</div>
@code{
  [Parameter]
  public string username { get; set; }
  public UserDTO user = new UserDTO();
  protected override async Task OnInitializedAsync()
  {
    user = await UserService.GetUserByUsername(username);
    Console.WriteLine(user.Username);
  }

}