.vs
BPR-API/bin/Debug/*
BPR-API/obj/Debug/*
BPR-Blazor/bin/Debug/*
BPR-Blazor/obj/Debug/*
BPR-API/bin/Debug/net6.0/BPR-API.dll
BPR-API/bin/Debug/net6.0/BPR-API.dll
BPR-API/bin/Debug/net6.0/BPR-API.pdb
