/* _content/BPR-Blazor/Pages/UserProfile2.razor.rz.scp.css */

.profilePic[b-550d4ie4rw]{
    display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
  }
  .profile[b-550d4ie4rw]{
    border-radius: 50%;
    width: 12%;
    border: #42b983 5px solid;
  }
  .container[b-550d4ie4rw]{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .skills[b-550d4ie4rw]{
    display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      border: 1px none;
      border-radius: 4px;
      gap: 10px;
      padding: 8px 22px;
  }
  .skill[b-550d4ie4rw]{
    letter-spacing: 0.32px;
    text-align: center;
    align-content: center;
    width: fit-content;
    background-color: rgba(229, 229, 229, 1);
    border-radius: 15%;
    padding: 0px 15px;
    
  }
/* _content/BPR-Blazor/Shared/MainLayout.razor.rz.scp.css */

main[b-g3itadbxea] {
    flex: 1;
    
}

.page[b-g3itadbxea] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row[b-g3itadbxea] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-g3itadbxea]  a, .top-row .btn-link[b-g3itadbxea] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-g3itadbxea] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-g3itadbxea] {
        display: none;
    }

    .top-row.auth[b-g3itadbxea] {
        justify-content: space-between;
    }

    .top-row a[b-g3itadbxea], .top-row .btn-link[b-g3itadbxea] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-g3itadbxea] {
        flex-direction: row;
    }

    .sidebar[b-g3itadbxea] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-g3itadbxea] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-g3itadbxea], article[b-g3itadbxea] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BPR-Blazor/Shared/NavMenu.razor.rz.scp.css */
.navbar[b-d7ppp29zix]{
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
}
.navbar-nav[b-d7ppp29zix]{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item[b-d7ppp29zix]{
     width: 100%;
}
.nav-item:last-child[b-d7ppp29zix]{
    margin-top: auto;
}
.nav-link[b-d7ppp29zix]{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
.icon[b-d7ppp29zix]{
    width: 50%;
    margin: 0 1.5rem;

}
.link-text[b-d7ppp29zix]{
    display: none;
    margin-left: 1rem;
}
.nav-link:hover[b-d7ppp29zix]{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
.navbar:hover .link-text[b-d7ppp29zix] {
    display: block;
}
.navbar:hover .icon[b-d7ppp29zix] {
    display: inline;
    width: 25%;
}

@media only screen and (max-width: 600px) {
    .navbar[b-d7ppp29zix] {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo[b-d7ppp29zix] {
      display: none;
    }
  
    .navbar-nav[b-d7ppp29zix] {
      flex-direction: row;
    }
  
    .nav-link[b-d7ppp29zix] {
      justify-content: center;
    }
  
    main[b-d7ppp29zix] {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar[b-d7ppp29zix] {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover[b-d7ppp29zix] {
      width: 14rem;
    }
  
    .navbar:hover .link-text[b-d7ppp29zix] {
      display: inline;
    }
  
    .navbar:hover .logo svg[b-d7ppp29zix]
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text[b-d7ppp29zix]
    {
      left: 0px;
    }
  }
  
  .dark[b-d7ppp29zix] {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light[b-d7ppp29zix] {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar[b-d7ppp29zix] {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon[b-d7ppp29zix] {
    display: none;
  }
  
  .dark #darkIcon[b-d7ppp29zix] {
    display: block;
  }
  
  .light #lightIcon[b-d7ppp29zix] {
    display: block;
  }
  
  .solar #solarIcon[b-d7ppp29zix] {
    display: block;
  }

/*.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}




@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
         Never collapse the sidebar for wide screens 
        display: block;
    }
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

@import url('https://fonts.googleapis.com/css?family=Fredoka+One');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3b2a27;
}
ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
ul li a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 5em;
    font-weight: bold;
    color: transparent;
    line-height: 1em;
    -webkit-text-stroke: 1px rgba(225,225,225,0.5);
}
ul li a ::before{
    content: '';
    position: absolute;
    width: 0;
    color: #fff;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid white;
    -webkit-text-stroke: 1px rgba(225,225,225,0.5);
}
ul li a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25pw white);
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #dfe9f5;
}

nav{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: #fff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.logo{
    display: flex;
    text-align: center;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: rgb(85,83,83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #eee;
}
nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}
.logout{
    position: absolute;
    bottom: 0;
}

*/
