/* _content/BPR-Blazor/Pages/UserProfile.razor.rz.scp.css */
:root[b-wyua4i5eqz] {
    --black: 
  rgba(0, 0, 0, 1);
    --shark: 
  rgba(40, 40, 40, 1);
    --mercury: 
  rgba(229, 229, 229, 1);
  
    --font-size-m: 16px;
    --font-size-l: 40px;
  
    --font-family-lato: "Lato";
  }
  
  
  
  .lato-normal-shark-16px[b-wyua4i5eqz] {
    color: var(--shark);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }

.profile-screen-1080[b-wyua4i5eqz] {
  align-items: flex-start;
  background-color: 
#fffefd;
  border: 1px none;
  display: flex;
  overflow: hidden;
  width: 1920px;
}

.hidden[b-wyua4i5eqz],
.hidden *[b-wyua4i5eqz] {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group4[b-wyua4i5eqz] {
  height: 1080px;
  position: relative;
  width: 1926px;
}

.overlap-group3[b-wyua4i5eqz] {
  height: 518px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.overlap-group2[b-wyua4i5eqz] {
  height: 41px;
  left: 645px;
  position: absolute;
  top: 400px;
  width: 255px;
}

.name[b-wyua4i5eqz] {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.bernardodias1[b-wyua4i5eqz] {
  color: 
#76a4ce;
  font-family: var(--font-family-lexend);
  font-size: var(--font-size-xxs);
  font-weight: 300;
  left: 162px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
}

.profile-container[b-wyua4i5eqz] {
  height: 500px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}
.profile-background[b-wyua4i5eqz] {
    height: 400px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
    background: linear-gradient(20deg, #6e48aa 0%, #9d50bb 73%, #b176cc 100%);
  }
.profile-background.purple[b-wyua4i5eqz]{
    background: linear-gradient(20deg, #6e48aa 0%, #9d50bb 73%, #b176cc 100%);
}
.profile-background.blue[b-wyua4i5eqz] {
    background: linear-gradient(20deg, #1fa2ff 0%, #12d8fa 73%, #a6ffcb 100%);
}

/* Green */
.profile-background.green[b-wyua4i5eqz] {
    background: linear-gradient(20deg, #56ab2f 0%, #a8e063 73%, #dce356 100%);
}

/* Tangerine */
.profile-background.orange[b-wyua4i5eqz] {
    background: linear-gradient(20deg, #db5041 0%, #ff7566 73%, #fe8a5b 100%);
}

.profile-pic[b-wyua4i5eqz] {
  height: 200px;
  left: 419px;
  position: absolute;
  top: 300px;
  width: 200px;
}



.software-engineer[b-wyua4i5eqz] {
  color: var(--eerie-black);
  font-family: var(--font-family-lexend);
  font-size: var(--font-size-xs);
  font-weight: 400;
  left: 645px;
  letter-spacing: 0;
  position: absolute;
  top: 500px;
}

.overlap-group[b-wyua4i5eqz] {
  align-items: center;
  background-color: 
#196aa0;
  border-radius: 100px;
  display: flex;
  height: 30px;
  left: 922px;
  min-width: 80px;
  padding: 0 18px;
  position: absolute;
  top: 426px;
}

.chat[b-wyua4i5eqz] {
  color: 
#fefefe;
  font-family: var(--font-family-lexend);
  font-size: var(--font-size-xs);
  font-weight: 500;
  letter-spacing: 0;
  min-height: 18px;
  min-width: 33px;
}

.post-2[b-wyua4i5eqz] {
  height: 250px;
  left: 500px;
  position: absolute;
  top: 600px;
  width: 582px;
}

.navbar[b-wyua4i5eqz] {
  align-items: center;
  background-color: black;
  box-shadow: 0px 4px 4px 
#0000001a;
  display: flex;
  height: 80px;
  left: 0;
  min-width: 1920px;
  padding: 19px 408px;
  position: absolute;
  top: 0;
}

.options[b-wyua4i5eqz] {
  align-items: flex-end;
  background-color: var(--heavy-metal);
  border-radius: 100px;
  display: flex;
  height: 40px;
  margin-left: 16px;
  min-width: 40px;
  padding: 17.2px 7px;
}

.x[b-wyua4i5eqz] {
  height: 5px;
  width: 25px;
}

.profile-pic-1[b-wyua4i5eqz] {
  height: 40px;
  margin-left: 16px;
  width: 40px;
}

.logo[b-wyua4i5eqz] {
  align-items: flex-start;
  display: flex;
  height: 30px;
  margin-top: 2px;
  min-width: 181px;
}

.codeware[b-wyua4i5eqz] {
  align-self: flex-end;
  color: 
#ffffff;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 9px;
  min-height: 26px;
  width: 136px;
}

.vector[b-wyua4i5eqz] {
  height: 26px;
  width: 34px;
}

.message[b-wyua4i5eqz] {
  align-items: center;
  align-self: flex-start;
  background-color: var(--heavy-metal);
  border-radius: 100px;
  display: flex;
  height: 40px;
  margin-left: 770px;
  min-width: 40px;
  padding: 0 7px;
}

.mail[b-wyua4i5eqz] {
  height: 20px;
  width: 25px;
}

.container[b-wyua4i5eqz] {
  background-color: 
#f6f6f6;
  border: 1px none;
  height: 680px;
  left: 500px;
  position: absolute;
  top: 400px;
  width: 1152px;
}

.skills[b-wyua4i5eqz] {
  left: 1101px;
  letter-spacing: 0;
  position: absolute;
  top: 426px;
}

.java-machine-learning-c[b-wyua4i5eqz] {
  color: var(--black);
  font-family: var(--font-family-lexend);
  font-size: var(--font-size-m);
  font-weight: 600;
  left: 1110px;
  letter-spacing: 0;
  position: absolute;
  top: 472px;
  width: 391px;
}


/* Purple */
.fp-hero.purple[b-wyua4i5eqz] {
    background: linear-gradient(20deg, #6e48aa 0%, #9d50bb 73%, #b176cc 100%);
}

/* Light Blue */
.fp-hero.blue[b-wyua4i5eqz] {
    background: linear-gradient(20deg, #1fa2ff 0%, #12d8fa 73%, #a6ffcb 100%);
}

/* Green */
.fp-hero.green[b-wyua4i5eqz] {
    background: linear-gradient(20deg, #56ab2f 0%, #a8e063 73%, #dce356 100%);
}

/* Tangerine */
.fp-hero.orange[b-wyua4i5eqz] {
    background: linear-gradient(20deg, #db5041 0%, #ff7566 73%, #fe8a5b 100%);
}
/* _content/BPR-Blazor/Pages/UserProfile2.razor.rz.scp.css */

.profilePic[b-550d4ie4rw]{
    display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
  }
  .profile[b-550d4ie4rw]{
    border-radius: 50%;
    width: 12%;
    border: #42b983 5px solid;
  }
  .container[b-550d4ie4rw]{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .skills[b-550d4ie4rw]{
    display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      border: 1px none;
      border-radius: 4px;
      gap: 10px;
      padding: 8px 22px;
  }
  .skill[b-550d4ie4rw]{
    letter-spacing: 0.32px;
    text-align: center;
    align-content: center;
    width: fit-content;
    background-color: rgba(229, 229, 229, 1);
    border-radius: 15%;
    padding: 0px 15px;
    
  }
/* _content/BPR-Blazor/Shared/MainLayout.razor.rz.scp.css */
.page[b-g3itadbxea] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-g3itadbxea] {
    flex: 1;
}

.sidebar[b-g3itadbxea] {
    
}

.top-row[b-g3itadbxea] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-g3itadbxea]  a, .top-row .btn-link[b-g3itadbxea] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-g3itadbxea] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-g3itadbxea] {
        display: none;
    }

    .top-row.auth[b-g3itadbxea] {
        justify-content: space-between;
    }

    .top-row a[b-g3itadbxea], .top-row .btn-link[b-g3itadbxea] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-g3itadbxea] {
        flex-direction: row;
    }

    .sidebar[b-g3itadbxea] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-g3itadbxea] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-g3itadbxea], article[b-g3itadbxea] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BPR-Blazor/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-d7ppp29zix] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-d7ppp29zix] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-d7ppp29zix] {
    font-size: 1.1rem;
}

.oi[b-d7ppp29zix] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}




@media (min-width: 641px) {
    .navbar-toggler[b-d7ppp29zix] {
        display: none;
    }

    .collapse[b-d7ppp29zix] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/*
.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

@import url('https://fonts.googleapis.com/css?family=Fredoka+One');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3b2a27;
}
ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
ul li a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 5em;
    font-weight: bold;
    color: transparent;
    line-height: 1em;
    -webkit-text-stroke: 1px rgba(225,225,225,0.5);
}
ul li a ::before{
    content: '';
    position: absolute;
    width: 0;
    color: #fff;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid white;
    -webkit-text-stroke: 1px rgba(225,225,225,0.5);
}
ul li a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25pw white);
    
}
*/

*[b-d7ppp29zix]{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}
body[b-d7ppp29zix]{
    background: #dfe9f5;
}

nav[b-d7ppp29zix]{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: #fff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.logo[b-d7ppp29zix]{
    display: flex;
    text-align: center;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.logo img[b-d7ppp29zix]{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span[b-d7ppp29zix]{
    font-weight: bold;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
}
a[b-d7ppp29zix]{
    position: relative;
    color: rgb(85,83,83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fas[b-d7ppp29zix]{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item[b-d7ppp29zix]{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover[b-d7ppp29zix]{
    background: #eee;
}
nav:hover[b-d7ppp29zix]{
    width: 280px;
    transition: all 0.5s ease;
}
.logout[b-d7ppp29zix]{
    position: absolute;
    bottom: 0;
}

