
.profilePic{
    display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
  }
  .profile{
    border-radius: 50%;
    width: 12%;
    border: #42b983 5px solid;
  }
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .skills{
    display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      border: 1px none;
      border-radius: 4px;
      gap: 10px;
      padding: 8px 22px;
  }
  .skill{
    letter-spacing: 0.32px;
    text-align: center;
    align-content: center;
    width: fit-content;
    background-color: rgba(229, 229, 229, 1);
    border-radius: 15%;
    padding: 0px 15px;
    
  }

  .lastNote{
    float: left;
  }
  .lastPost{
    
    float: right;
    width: fit-content;
    max-width: 50%;
  }
  .lastPost1{
    
    margin-top: 10px;
  }
  @media screen and (min-width: 1920px){
    .lastPost{
    
      float: right;
      width: fit-content;
      max-width: 35%;
    }
    .lastNote{
      float: left;
      max-width: 35%;
    }
}
  @media screen and (max-width: 1600px) {
    .lastPost{
    
      float: right;
      width: fit-content;
      max-width: 30%;
    }
    .lastNote{
      float: left;
      max-width: 30%;
    }
  }
    
  