
.profilePic{
    display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
  }
  .profile{
    border-radius: 50%;
    width: 12%;
    border: #42b983 5px solid;
  }
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .skills{
    display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      border: 1px none;
      border-radius: 4px;
      gap: 10px;
      padding: 8px 22px;
  }
  .skill{
    letter-spacing: 0.32px;
    text-align: center;
    align-content: center;
    width: fit-content;
    background-color: rgba(229, 229, 229, 1);
    border-radius: 15%;
    padding: 0px 15px;
    
  }

  .lastNote{
    float: left;
  }
  .lastPost{
    
    margin-top: 20px;
    margin-left : 6rem;
    max-width: 500px;
  }