@page "/chats"
@attribute [Authorize]
@inject IChatService ChatService
@inject IUserService UserService
@inject NavigationManager navManager
@inject AuthenticationStateProvider _authStateProvider;
@using BPR_Blazor.Models
@using BPR_Blazor.Data

<!--Chat list  -->
<section class="index">
<div class="col-4">
    <h1>Chats</h1><a href="createChat">Create a chat</a>
    @if (chats is not null)
    {
       @foreach (var chat in chats)
        {
        <div>
            <h4>@chat.Id</h4>
            
        </div>
        } 
    }else{
        <div style="height: 50px">
                <p>Loading...</p>
            </div>
    }
    
</div>
</section>

@code{
    private List<ChatDTO> chats = new List<ChatDTO>();
    protected override async Task OnInitializedAsync()
    {
        chats = new List<ChatDTO>();
        var authState  = await _authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        chats = await ChatService.GetChatList(user.Identity.Name);
        Console.WriteLine(chats);
    }
}