<section class="index">
    <main class="main">
            <section class="home">
                <div class="home_container container">
                    <Animate Animation="Animations.FadeDown" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(1)">
                    <div class="data">
                        <span class="subtitle">Error 404</span>
                        <h1 class="title">Hey Buddy</h1>
                        <p class="description">
                            We can't seem to find <br> your profile.
                        </p>
                        <a href="/signup" class="home__button">
                            Create one!
                        </a>
                    </div>
                    </Animate>
                    <div class="img_container">
                        <img src="images/ghost-img.png" alt="ghost-404">
                        <div class="shadow"></div>
                    </div>
                </div>
            </section>
        </main>
</section>