@inherits LayoutComponentBase

<PageTitle>BPR-Blazor</PageTitle>

<div class="page">
    <AuthorizeView>
    <div class="sidebar">
        <NavMenu />
    </div>
    </AuthorizeView>
    <main>
        @Body
    </main>
</div>
