@attribute [Authorize]
@using BPR_Blazor.Data
@inject IUserService UserService
@inject AuthenticationStateProvider _authStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager navManager
<AuthorizeView>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="index" class="nav-link">
                    <img src="images/home.png" class="icon">
                    
                    <span class="link-text">Home</span>
                </a>
            </li>
             <li class="nav-item">
                <a href="profile/@username" class="nav-link">
                    <img src="images/dj.png" class="icon">
                    <span class="link-text">Profile</span>
                </a>
            </li>
             <li class="nav-item">
                <a href="chats" class="nav-link">
                    <img src="images/speech-bubble.png" class="icon">
                    <span class="link-text">Chats</span>
                </a>
            </li>
             <li class="nav-item">
                <a href="notes" class="nav-link">
                    <img src="images/folder.png" class="icon">
                    <span class="link-text">Notes</span>
                </a>
            </li>
             <li class="nav-item">
                <a href="" class="nav-link" @onclick="Logout">
                    <img src="images/exit.png" class="icon">
                    <span class="link-text">Logout</span>
                </a>
                
            </li>

        </ul>
    </nav>
   
</AuthorizeView>

<!-- 
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
    </nav>
 <nav>
        <ul>
            <li>
                <a href="#" class="logo">
                    <img src="indie4.jpg" alt="">
                    <span class="nav-item">CodeWare</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                    <span class="nav-item">Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-user"></i>
                    <span class="nav-item">Profile</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-comments"></i>
                    <span class="nav-item">Chat</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-tasks"></i>
                    <span class="nav-item">Tasks</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-cog"></i>
                    <span class="nav-item">Settings</span>
                </a>
            </li>
            <li>
                <a href="#" class="logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-item">Log out</span>
                </a>
            </li>
        </ul>
    </nav>
-->
 <!--
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav>
        <ul>
            <li>
                <a href="#" class="logo">
                    <img src="indie4.jpg" alt="">
                    <span class="nav-item">CodeWare</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                    <span class="nav-item">Home</span>
                </a>
            </li>
            <li>
                <a href= "/UserProfile/{@context.User.Identity.Name} ">
                    <i class="fas fa-user"></i>
                    <span class="nav-item">Profile</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-comments"></i>
                    <span class="nav-item">Chat</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-tasks"></i>
                    <span class="nav-item">Tasks</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-cog"></i>
                    <span class="nav-item">Settings</span>
                </a>
            </li>
            <li>
                <a href="#" class="logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <button class="nav-item" @onclick="Logout">Log out</button>
                </a>
            </li>
        </ul>
    </nav>
</div>
-->
@code {
    private string username = "";
    protected override async Task OnInitializedAsync()
    {
        var authState  = await _authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        username = user.Identity.Name;
    }
    
    private async void Logout()
    {
        //_authStateProvider.Logout();
        await LocalStorage.RemoveItemAsync("token");
        navManager.NavigateTo("/");
    }
}
